<!-- Style Keywords Subcomponent 1-1 -->
<div class="feedback-input-component style-keywords-submodule"
     data-step="step11"
     id="style-keywords-component-step11">

    <h3>Point of View</h3>

    <div class="component-content">
        <div class="style-grid vertical">

            {% for item in subgroup1_keywords %}
            <div class="checkbox-item">
                <input type="radio"
                       name="step11"
                       id="kw11_{{ item.group_idx }}"
                       value="{{ item.key }}"
                       {% if loop.first %}checked{% endif %}>

                <label for="kw11_{{ item.group_idx }}"
                       title="{{ item.short }}">
                    {{ item.name }}
                </label>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
