/*CHECK NEEDED*/

.traverse-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 50px;
}

.t-button {
    background-color: green;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100px;
}

.t-button:hover {
    background-color: darkgreen;
}

.action-button {
    background-color: gray;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: not-allowed;
    margin-top: 40px;

    /* new: button floats above box */
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.action-button.enabled {
    background-color: green;
    cursor: pointer;
}

.action-button.enabled:hover {
    background-color: darkgreen;
}

#box-display {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1;
}

#box-display.full {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}